body {
	background-color: #eee;
}

.main-piano-container {
	background-color: #555;
	padding: 10px;
	text-align: center;
}

.choose label {
	color: #eee;
}

.piano {
	display: inline-block;
	background-color: #868990;
	font-size: 0;
	margin-bottom: 10px;

	&.chord {
		.active {
			background: #e4e063 !important;
			box-shadow: 0 0 2px #deda5f;

			&.white{
				height: 120px;
			}

			&.black{
				border-left: 1px solid #deda5f;
				border-right: 1px solid #deda5f;
				border-bottom: 1px solid #deda5f;
			}
		}
	}

	&.scale {
		.active {
			background: #5EB8F4 !important;
			box-shadow: 0 0 2px #4491C5;

			&.white{
				height: 120px;
			}

			&.black{
				border-left: 1px solid #4491C5;
				border-right: 1px solid #4491C5;
				border-bottom: 1px solid #4491C5;
			}
		}
	}

	.key {
		position: relative;
		display: inline-block;
		vertical-align: top;
		background-position: left top;
		color: white;

		&.white {
			background-image: url('../img/white_key.jpg');
			background-position-x: -1px;
			width: 21px;
			height: 124px;
			text-align: center;

			padding-top: 100px;
			font-size: 14px;
			margin-right: 1px;
		}

		&.black {
			background-image: url('../img/black_key.jpg');
			width: 12px;
			height: 70px;
			margin-left: -6px;
			z-index: 1000;
			text-align: center;

			padding-top: 50px;
			font-size: 10px;
		}

		&:nth-child(12n + 3),
		&:nth-child(12n + 5),
		&:nth-child(12n + 8),
		&:nth-child(12n + 10),
		&:nth-child(12n + 12) {
			margin-left: -6px;
		}
	}
}

